/* Inserta tu código aquí */
*
{
    outline: 1px solid pink;
}
body
{
    
}
h1 ,h2
{
 font-family: 'Merriweather', serif;   
}
header{
	padding: 0.5%;
}

.navbar button span
{
	background-color:rgb(212, 207, 169);
}

.hero
{
    background-image: url(../img/creamy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.opacity
{
    background: rgba(0, 0, 0, 0.6);

}
.hero .text-center
{
    margin: 20%;
    color:#fdee9d; 
}
.container-fluid
{
 padding: 1%; 
}
header ,.rojo , footer
{
    background-color: #be3c3c;
    color:#fdee9d; 

}
.rojo
{
   
    padding: 3%;
}
.medio .container-fluid , .iconos
{
    background: #fdee9d;
    color:#be3c3c; 
}
.icon-container
{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    line-height: 150px;
    font-size: 60px;
    text-align: center;
    box-shadow: -2px 2px 10px rgba(0,0,0,0,4);
    color:#be3c3c;
    
}
footer
{
    padding: 1%;
}

@media (max-width:900px)
{
	.container
	{
		width: 700px;
	}
}

@media (max-width:600px) and (min-width:350px)
{
    .container
	{
		width: 100%;
	}
    .container-fluid
    {
      width: 100%;  
    }
	
	
}

